{{define "base"}}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>FGS Telecom Billing</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>FGS Telecom Billing</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/users">Usuarios</a>
        </nav>
    </header>

    <main>
        {{template "content" .}}
    </main>

    <footer>
        <p>Proyecto universitario – Go + MySQL</p>
    </footer>
</body>
</html>
{{end}}
